.top_nav {
  height: 36px;
  line-height: 36px;
  background-color: #f9f9f9;
}
.top_nav .c1 {
  position: relative;
}
.top_nav .c1_ul {
  display: none;
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 100%;
  z-index: 2;
  text-align: center;
}
.top_nav .c1_ul li {
  float: none;
}
.top_nav .website {
  background-color: #fff;
  z-index: 10000;
}
.top_nav .website > div {
  width: 63px;
  height: 52px;
  padding: 30px;
}
.top_nav .website > div div {
  width: 63px;
  height: 52px;
  background: url('../images/icon_header.png') no-repeat -33px 0px;
}
.top_nav .website table {
  padding: 10px;
  text-align: left;
}
.top_nav .website table tr {
  float: left;
  margin-left: 40px;
}
.top_nav .website table th {
  display: block;
  font-size: 16px;
  color: #000;
}
.top_nav .website table td {
  display: block;
  font-size: 12px;
  color: #999999;
}
.top_nav .website table td:hover {
  color: #ca141d;
}
.top_nav .mobile {
  text-align: left;
}
.top_nav .mobile .nav_b4js_a {
  width: 244px;
  height: 110px;
  padding: 20px 0 10px 24px;
  border-bottom: #e5e5e5 1px solid;
}
.top_nav .mobile img {
  width: 90px;
  height: 90px;
  display: block;
  float: left;
  margin-right: 10px;
}
.top_nav .mobile h6 {
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.top_nav .mobile p {
  line-height: 15px;
  color: #C81623;
}
.top_nav .mobile span {
  width: 32px;
  height: 32px;
  float: left;
  display: block;
}
.top_nav .mobile .a1 .a1_sp1 {
  background: url(../images/jw1.png) no-repeat -484px 0;
  margin-right: 7px;
  margin-top: 5px;
}
.top_nav .mobile .a1 .a1_sp2 {
  background: url(../images/jw1.png) no-repeat -519px 0;
  margin-top: 7px;
}
.top_nav .i {
  position: absolute;
}
.top_nav .c1:hover {
  background-color: #fff;
  box-shadow: 0 0px 2px 2px #ccc;
}
.top_nav li {
  float: left;
  font-size: 12px;
  color: #d3d3d3;
}
.top_nav li a {
  text-decoration: none;
  padding: 0 8px;
  color: #a4a4a4;
}
.top_nav li a:hover {
  color: red;
}
.top_nav .l_nav li:last-child {
  position: relative;
  padding-right: 10px;
}
.top_nav .l_nav li:last-child i {
  position: absolute;
}
.top_nav .l_nav li:last-child a {
  position: relative;
}
.top_nav .l_nav li:last-child span {
  position: absolute;
  display: block;
  right: -8px;
  top: 2px;
  width: 14px;
  height: 14px;
  background: url('../images/icon_common_wps.png') no-repeat -70px 0;
}
.top_nav .l_nav li:last-child ul {
  width: 130px;
  position: absolute;
  right: 0;
  display: none;
}
.top_nav .l_nav li:last-child ul li {
  float: none;
  text-align: center;
  padding: 0;
}
.top_nav .l_nav li:last-child ul li a {
  padding: 0;
  color: #a4a4a4;
}
.top_nav .l_nav li:last-child:hover {
  background-color: #fff;
}
.top_nav .l_nav li:last-child:hover .a {
  color: red;
}
.top_nav .l_nav li:last-child:hover .a span {
  background-position-x: -85px;
}
.top_nav .l_nav li:last-child:hover a:hover {
  color: red;
}
.top_nav .l_nav li:nth-child(1) a {
  padding: 0 8px 0 0;
}
.top_nav .r_nav li:nth-child(4) {
  padding-right: 10px;
}
.top_nav .r_nav li:nth-child(4) ul {
  width: 100%;
}
.top_nav .r_nav li:nth-child(5) {
  padding-right: 10px;
}
.top_nav .r_nav li:nth-child(5) ul {
  width: 893px;
}
.top_nav .r_nav li:nth-child(6) {
  padding-right: 10px;
}
.top_nav .r_nav li:nth-child(6) ul {
  width: 244px;
}
.top_nav .r_nav .a {
  position: relative;
}
.top_nav .r_nav .span {
  position: absolute;
  display: block;
  right: -8px;
  top: 2px;
  width: 14px;
  height: 14px;
  background: url('../images/icon_common_wps.png') no-repeat -70px 0;
}
.top_nav .r_nav li:hover .a {
  color: red;
}
.top_nav .r_nav li:hover a:hover {
  color: red;
}
.top_nav .r_nav li:hover .span {
  background-position-x: -85px;
}
.top_nav .r_nav .r_nav > li:last-child {
  background-color: #ccc;
}
.top_nav .r_nav .r_nav > li:last-child span {
  padding-right: 3px;
}
.top_nav .r_nav li:last-child:hover {
  background-color: #fff;
}
.top_nav .r_nav li:last-child:hover > a {
  color: red;
}
.top_nav .r_nav .shopping {
  position: relative;
}
.top_nav .r_nav .shopping .shopping_box {
  display: none;
  width: 450px;
  height: 250px;
  position: absolute;
  top: 100%;
  right: 0px;
  z-index: 50;
  background-color: #fff;
  text-align: center;
}
.top_nav .r_nav .shopping .shopping_box div {
  width: 110px;
  background: url(../images/icon_header.png) no-repeat 0px -164px;
  height: 110px;
  margin: 20px auto 10px;
}
.top_nav .r_nav .shopping .shopping_box p {
  font-size: 16px;
  text-align: center;
  padding: 0 0 10px 0;
}
.top_nav .r_nav .shopping .shopping_box > a {
  color: #666;
  font-size: 16px;
  padding: 10px 40px;
  border: 1px solid #666;
}
.top_nav .r_nav .shopping .shopping_box a:hover {
  color: #ca141d;
  border: 1px solid #ca141d;
}
.header {
  height: 74px;
  line-height: 74px;
  box-shadow: 0px 5px 5px #f9f9f9;
  position: relative;
}
.header .l_header a {
  text-decoration: none;
  color: black;
}
.header .l_header a:hover {
  color: red;
}
.header .l_header li {
  float: left;
  margin-left: 20px;
}
.header .l_header li:nth-child(1) {
  margin-left: 0;
}
.header .l_header img {
  height: 36px;
}
.header .hidden_layer {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 100%;
  z-index: 20;
  text-align: center;
}
.header .hidden_layer .layer {
  display: none;
}
.header .hidden_layer .layer p {
  font-size: 14px;
  color: #666;
  text-align: left;
  height: 40px;
}
.header .hidden_layer .layer p span {
  color: #333;
}
.header .hidden_layer .layer ul {
  width: 100%;
  padding: 40px 0;
}
.header .hidden_layer .layer li {
  float: left;
  width: 200px;
}
.header .r_header {
  width: 320px;
  position: relative;
}
.header .r_header input:nth-child(1) {
  width: 80%;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 20px 0 0 20px;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-right: 0px;
}
.header .r_header input:nth-child(2) {
  width: 18%;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #ccc;
  border-left: 0px;
}
.header .r_header span {
  position: absolute;
  top: 1px;
  right: 25px;
}
.header .r_header a {
  position: absolute;
  top: 0;
  right: 90px;
  font-size: 12px;
  text-decoration: none;
  color: #cf0a2c;
}
.header .r_header a:last-child {
  right: 60px;
  color: #999999;
}
.header .r_header a:last-child:hover {
  color: black;
}
.header .r_header .box {
  display: none;
  width: 100%;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  padding-left: 10px;
  margin-top: -10px;
}
.header .r_header .box li {
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.current {
  font-size: 12px;
  color: #333;
  font-family: '宋体';
  height: 30px;
  padding-top: 15px;
  box-sizing: border-box;
}
.current a {
  text-decoration: none;
  color: #333;
}
.main {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.main .w .l_main {
  width: 450px;
  position: relative;
}
.main .w .l_main .top {
  width: 100%;
  height: 450px;
  position: relative;
  cursor: move;
  z-index: 5;
}
.main .w .l_main .top .img1 {
  width: 100%;
}
.main .w .l_main .top .img2 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.main .w .l_main .top .zhe {
  width: 200px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  display: none;
}
.main .w .l_main .top .hide {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  overflow: hidden;
  position: absolute;
  left: 430px;
  top: 20px;
  display: none;
  z-index: 20;
}
.main .w .l_main .video {
  position: absolute;
  width: 75px;
  height: 28px;
  bottom: 10px;
  left: 20px;
  top: 400px;
  background-color: #ca141d;
  border-radius: 20px 20px;
  z-index: 100;
  background: url(../images/icon50.png) no-repeat -38px 0px;
}
.main .w .l_main .video video {
  background-color: #000;
  display: none;
  width: 450px;
  height: 450px;
  position: absolute;
  top: -400px;
  left: -40px;
}
.main .w .l_main .video_x {
  display: none;
  color: #fff;
  width: 20px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  right: 28px;
  top: 5px;
  cursor: pointer;
  z-index: 100;
}
.main .w .l_main .bottom {
  width: 100%;
  margin-top: 20px;
}
.main .w .l_main .bottom div {
  margin-left: 50px;
  width: 370px;
  overflow: hidden;
}
.main .w .l_main .bottom div ul {
  width: 700px;
  position: relative;
  left: 0;
  top: 0;
}
.main .w .l_main .bottom div li {
  float: left;
  width: 74px;
}
.main .w .l_main .bottom div li img {
  width: 60px;
}
.main .w .l_main .bottom div li img:hover {
  border: 1px solid red;
}
.main .w .l_main .bottom a {
  display: block;
  width: 38px;
  height: 38px;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-size: 25px;
  font-family: "宋体";
  margin-top: 10px;
}
.main .w .r_main {
  width: 730px;
  padding-left: 30px;
  box-sizing: border-box;
}
.main .w .r_main label {
  font-size: 12px;
  color: #3a3a3a;
  padding: 0 20px 0 10px;
}
.main .w .r_main .description h1 {
  font-size: 20.5px;
  color: #3a3a3a;
}
.main .w .r_main .description div {
  margin-top: 10px;
  font-size: 14px;
  color: #3a3a3a;
}
.main .w .r_main .description div span:nth-child(1) {
  color: #ca141d;
  padding-right: 20px;
}
.main .w .r_main .commodity {
  padding: 20px 0 10px 10px;
  background-color: #f5f5f5;
  margin-top: 15px;
}
.main .w .r_main .commodity .price {
  font-size: 24px;
  color: #ca141d;
}
.main .w .r_main .commodity .price label {
  color: #3a3a3a;
  font-size: 12px;
  letter-spacing: 1.5em;
  padding: 0;
}
.main .w .r_main .commodity .price span {
  color: #ca141d;
  font-size: 14px;
}
.main .w .r_main .commodity .promotion {
  margin-top: 10px;
  color: #3a3a3a;
}
.main .w .r_main .commodity .promotion div:nth-child(1) {
  padding-right: 10px;
}
.main .w .r_main .commodity .promotion div:nth-child(1) label {
  font-size: 12px;
  letter-spacing: 1.5em;
  padding: 0;
}
.main .w .r_main .commodity .promotion div:nth-child(2) {
  font-size: 12px;
  line-height: 30px;
}
.main .w .r_main .commodity .promotion span {
  border: 1px solid #ca141d;
  padding: 1px 2px;
  font-size: 13px;
  margin-right: 10px;
}
.main .w .r_main .serve {
  margin-top: 20px;
}
.main .w .r_main .serve label {
  float: left;
}
.main .w .r_main .serve a {
  float: left;
  text-decoration: none;
  font-size: 14px;
  padding: 3px 10px 3px 5px;
  border: 1px solid #ccc;
  width: 140px;
}
.main .w .r_main .serve a span {
  float: right;
  width: 20px;
  height: 20px;
  background: url(../images/icon50.png) no-repeat 0 0;
}
.main .w .r_main .serve a:hover span {
  background-position-y: -20px;
}
.main .w .r_main .serve i {
  margin-left: 15px;
  font-size: 14px;
  color: red;
}
.main .w .r_main .serve p {
  margin-top: 15px;
  font-size: 13px;
  padding-left: 78px;
}
.main .w .r_main .serve p span {
  line-height: 5px;
  font-size: 13px;
}
.main .w .r_main .coding {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
.main .w .r_main .coding span {
  font-size: 12px;
}
.main .w .r_main .configuration ul > li {
  padding: 5px 0;
}
.main .w .r_main .configuration ul .colour {
  line-height: 40px;
}
.main .w .r_main .configuration ul .colour li {
  float: left;
  width: 98px;
  height: 40px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 0 5px;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}
.main .w .r_main .configuration ul .colour li img {
  width: 30px;
}
.main .w .r_main .configuration ul .colour li:nth-child(1) {
  margin: 0;
  border: 1px solid red;
}
.main .w .r_main .configuration ul .versions {
  line-height: 30px;
}
.main .w .r_main .configuration ul .versions li {
  float: left;
  width: 128px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 0 5px;
  margin-left: 10px;
  text-align: center;
}
.main .w .r_main .configuration ul .versions li:nth-child(1) {
  margin: 0;
}
.main .w .r_main .configuration ul .combo {
  line-height: 30px;
}
.main .w .r_main .configuration ul .combo li {
  float: left;
  width: 88px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 0 5px;
  text-align: center;
}
.main .w .r_main .configuration ul .business {
  line-height: 30px;
}
.main .w .r_main .configuration ul .business li {
  float: left;
  width: 88px;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 0 5px;
  text-align: center;
}
.main .w .r_main .configuration ul .business li:last-child {
  margin-left: 10px;
}
.main .w .r_main .configuration ul .safeguard {
  line-height: 30px;
}
.main .w .r_main .configuration ul .safeguard li {
  float: left;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 0 10px 0 05px;
  margin-left: 10px;
  text-align: center;
}
.main .w .r_main .configuration ul .safeguard li span {
  margin: 3px 0 0 0;
  width: 20px;
  height: 20px;
  float: right;
  background: url(../images/icon50.png) no-repeat 0 0px;
}
.main .w .r_main .configuration ul .safeguard li:hover span {
  background-position-y: -20px;
}
.main .w .r_main .configuration ul .safeguard li:nth-child(1) {
  margin: 0;
}
.main .w .r_main .configuration ul .free {
  line-height: 30px;
}
.main .w .r_main .configuration ul .free li {
  float: left;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 13px;
  padding: 0 30px 0 05px;
  margin-left: 10px;
  text-align: center;
  position: relative;
}
.main .w .r_main .configuration ul .free li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 6px;
  top: 4px;
  background: url(../images/icon50.png) no-repeat 0 0;
}
.main .w .r_main .configuration ul .free li:hover span {
  background-position-y: -20px;
}
.main .w .r_main .configuration ul .free li:nth-child(1) {
  margin: 0;
}
.main .w .r_main .configuration ul .recommend {
  line-height: 30px;
}
.main .w .r_main .configuration ul .recommend label {
  letter-spacing: 1em;
}
.main .w .r_main .configuration ul .recommend li {
  float: left;
  height: 30px;
  background-color: #f5f5f5;
  font-size: 13px;
  padding: 0 10px;
  margin-left: 10px;
  text-align: center;
  position: relative;
}
.main .w .r_main .configuration ul .recommend a {
  text-decoration: none;
  color: black;
}
.main .w .r_main .configuration ul .recommend li:hover a {
  color: red;
}
.main .w .r_main .configuration ul .recommend li:nth-child(1) {
  margin: 0;
}
.main .w .r_main .configuration ul .selected div {
  font-size: 12px;
  color: #ca141d;
}
.main .w .r_main .configuration ul .quantity {
  height: 46px;
}
.main .w .r_main .configuration ul .quantity div:nth-child(1) {
  width: 65px;
  border: 1px solid #ccc;
  margin-left: 10px;
}
.main .w .r_main .configuration ul .quantity div:nth-child(1) input {
  width: 42px;
  height: 46px;
  text-align: center;
  font-size: 16px;
  border-right: 1px solid #ccc;
}
.main .w .r_main .configuration ul .quantity div:nth-child(1) p a {
  display: block;
  width: 21px;
  height: 22px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #999999;
}
.main .w .r_main .configuration ul .quantity div:nth-child(1) p a:nth-child(1) {
  border-bottom: 1px solid #ccc;
}
.main .w .r_main .configuration ul .quantity div:last-child a {
  display: inline-block;
  width: 172px;
  line-height: 46px;
  text-align: center;
  background-color: #FC600C;
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
  font-weight: 500;
}
.main .w .r_main .configuration ul .quantity div:last-child a:last-child {
  background-color: #ca141d;
}
.main .w .r_main .configuration ul .quantity div:last-child a:nth-child(1):hover {
  background-color: #fa8546;
}
.main .w .r_main .configuration ul .quantity div:last-child a:hover {
  background-color: #f03942;
}
.set_meal .w {
  border-bottom: 2px solid #ccc;
}
.set_meal .w .set_top {
  padding: 20px 0 40px 50px;
}
.set_meal .w .set_top li {
  float: left;
  margin-right: 20px;
}
.set_meal .w .set_top a {
  text-decoration: none;
  padding: 0 5px 5px;
  color: black;
}
.set_meal .w .set_top .a {
  color: #ca141d;
  border-bottom: 1px solid #ca141d;
}
.set_meal .w .set_bottom .set_left {
  float: left;
  width: 195px;
  position: relative;
}
.set_meal .w .set_bottom .set_left a {
  padding-left: 30px;
  display: block;
  width: 120px;
  text-align: center;
  text-decoration: none;
}
.set_meal .w .set_bottom .set_left a p {
  margin: 6px 8px;
  font-size: 12px;
  height: 34px;
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.set_meal .w .set_bottom .set_left a div {
  width: 100%;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: #ca141d;
}
.set_meal .w .set_bottom .set_left span {
  display: block;
  position: absolute;
  right: 10px;
  top: 38px;
  width: 15px;
  height: 15px;
  background: url('../images/icon50.png') no-repeat 0px -86px;
}
.set_meal .w .set_bottom .set_center {
  float: left;
  width: 789px;
}
.set_meal .w .set_bottom .set_center .btn {
  width: 22px;
  height: 75px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 75px;
  margin-top: 20px;
  color: #fff;
}
.set_meal .w .set_bottom .set_center .accessories > ul {
  display: flex;
}
.set_meal .w .set_bottom .set_center .accessories > ul a {
  padding: 0 14.5px;
  display: block;
  width: 120px;
  text-align: center;
  text-decoration: none;
}
.set_meal .w .set_bottom .set_center .accessories > ul a p {
  margin: 6px 8px;
  font-size: 12px;
  height: 34px;
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.set_meal .w .set_bottom .set_center .accessories > ul > li {
  flex: 1;
}
.set_meal .w .set_bottom .set_center .accessories > ul > li .selec_box {
  width: 105px;
  overflow: hidden;
  margin-left: 22px;
}
.set_meal .w .set_bottom .set_center .accessories > ul > li .selec_box ul {
  width: 300px;
}
.set_meal .w .set_bottom .set_center .accessories > ul > li .selec_box li {
  width: 35px;
  height: 32px;
  float: left;
  margin-left: 1px;
}
.set_meal .w .set_bottom .set_center .accessories > ul > li .selec_box img {
  width: 30px;
  border: 1px solid #ccc;
}
.set_meal .w .set_bottom .set_center .accessories > ul > li .s_btn {
  padding: 10px 20px;
}
.set_meal .w .set_bottom .set_center .accessories > ul > li .s_btn span {
  font-size: 12px;
  color: #ca141d;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(1) .selec {
  padding: 8px 0px;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(1) .selec .selec_btn {
  width: 12px;
  height: 30px;
  line-height: 30px;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(1) .selec .selec_btn span {
  color: #999999;
  font-size: 12px;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(2) .selec_box {
  margin-top: 15px;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(3) .selec_box {
  margin-top: 15px;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(3) .s_btn del {
  font-size: 12px;
  color: #a4a4a4;
  margin-left: 10px;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(4) .selec_box {
  margin-top: 15px;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(5) .selec_box {
  margin-top: 15px;
}
.set_meal .w .set_bottom .set_center .accessories > ul li:nth-child(5) .s_btn del {
  margin-left: 10px;
  font-size: 12px;
  color: #a4a4a4;
}
.set_meal .w .set_bottom .set_right {
  padding: 20px 0 0 40px;
  box-sizing: border-box;
  float: left;
  width: 201px;
}
.set_meal .w .set_bottom .set_right span {
  line-height: 25px;
  font-size: 12px;
}
.set_meal .w .set_bottom .set_right i {
  font-size: 14px;
  color: #ca141d;
}
.set_meal .w .set_bottom .set_right a {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
.set_meal .w .set_bottom .set_right li:nth-child(3) a {
  background-color: #FC600C;
}
.set_meal .w .set_bottom .set_right li:nth-child(3) a:hover {
  background-color: #fa8546;
}
.set_meal .w .set_bottom .set_right li:nth-child(4) a {
  background-color: #ca141d;
}
.set_meal .w .set_bottom .set_right li:nth-child(4) a:hover {
  background-color: #f03942;
}
.set_meal .w .yin {
  display: none;
}
.bookmark {
  padding: 26px 0;
}
.bookmark .w .top_nav_g {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
.bookmark .w p {
  text-align: center;
  padding: 10px 0;
  z-index: 999;
}
.bookmark .w p a {
  text-align: center;
  text-decoration: none;
  color: #999999;
  font-size: 18px;
  padding: 3px 10px;
  margin-left: 10px;
}
.bookmark .w p .bookmark_1 {
  color: #ca141d;
  border-bottom: 2px solid #ca141d;
}
.particulars {
  width: 100%;
  position: relative;
}
.particulars img {
  width: 100%;
}
.particulars .b_1_1 {
  background: -webkit-linear-gradient(top, #00000000 0, #fff);
  position: absolute;
  height: 600px;
  width: 100%;
  bottom: 0;
}
.particulars .b_1_1 .b_d_1 {
  display: none;
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: #666;
  padding: 30px 0 30px 0;
  margin-top: 400px;
}
.particulars .b_1_1 .b_d_1 span {
  font-size: 18px;
  padding: 5px 20px;
  border: 1px solid #777;
}
.particulars .b_2_1 {
  display: none;
}
.particulars .b_2_1 .b_a_1 {
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #999999;
  padding: 30px 0 60px 0;
  position: relative;
}
.particulars .b_2_1 .b_a_1 span {
  display: block;
  width: 16px;
  height: 7px;
  position: absolute;
  left: 660px;
  top: 20px;
  background: url('../images/icon50.png') no-repeat 0px -26px;
}
.parameter .centent h2 {
  width: 15%;
  padding-left: 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 600;
}
.parameter .centent ul {
  width: 85%;
  font-size: 14px;
}
.parameter .centent ul li {
  position: relative;
  margin-bottom: 9px;
  color: #3a3a3a;
}
.parameter .centent ul label {
  float: left;
  width: 15%;
}
.parameter .centent ul span {
  display: inline-block;
  width: 80%;
}
.parameter .top {
  background-color: #fff;
  padding-bottom: 20px;
}
.parameter .top li::before {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  background: #d8d8d8;
  position: absolute;
  top: 8px;
  left: -16px;
}
.parameter .top .top_label {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
.parameter .top .top_label span {
  padding: 0 20px;
  font-size: 18px;
  border-left: 3px solid #ca141d;
}
.parameter .bottom {
  background-color: #f5f5f5;
  position: relative;
}
.parameter .bottom .b_centent {
  padding: 30px 0;
  border-bottom: 1px solid #ccc;
}
.parameter .bottom div:nth-child(11) {
  border: none;
}
.parameter .bottom .b_1 {
  background: -webkit-linear-gradient(top, #00000000 0, #fff);
  position: absolute;
  height: 300px;
  width: 100%;
  bottom: 0;
}
.parameter .bottom .b_1 .b_d {
  display: none;
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: #666;
  padding: 30px 0 30px 0;
  margin-top: 200px;
}
.parameter .bottom .b_1 .b_d span {
  font-size: 18px;
  padding: 5px 20px;
  border: 1px solid #777;
}
.parameter .bottom .b_2 {
  display: none;
}
.parameter .bottom .b_2 .b_a {
  display: block;
  text-decoration: none;
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #999999;
  padding: 30px 0 60px 0;
  position: relative;
}
.parameter .bottom .b_2 .b_a span {
  display: block;
  width: 16px;
  height: 7px;
  position: absolute;
  left: 660px;
  top: 20px;
  background: url('../images/icon50.png') no-repeat 0px -26px;
}
.packaging {
  width: 25%;
  margin-top: 20px;
}
.after_sales {
  font-size: 14px;
  color: #3a3a3a;
}
.history {
  padding-bottom: 50px;
}
.history .w h1 {
  text-align: center;
  color: #3a3a3a;
  font-size: 18px;
  padding-bottom: 40px;
}
.history .w .history_centent .h_btn {
  width: 43px;
  margin-top: 50px;
}
.history .w .history_centent .h_btn span {
  display: block;
  width: 100%;
  text-align: center;
  height: 80px;
  line-height: 80px;
}
.history .w .history_centent .h_centent {
  width: 1100px;
  overflow: hidden;
}
.history .w .history_centent .h_centent ul {
  width: 1980px;
  position: relative;
}
.history .w .history_centent .h_centent li {
  width: 220px;
  float: left;
}
.history .w .history_centent .h_centent li a {
  display: block;
  margin: 0 10px;
  padding: 30px 20px 0;
}
.history .w .history_centent .h_centent li a img {
  width: 134px;
  height: 134px;
  margin: 0 17px;
}
.footer {
  width: 100%;
  background-color: #f9f9f9;
}
.footer .footer-a {
  height: 82px;
  border-bottom: 1px solid #e5e5e5;
}
.footer .footer-a li {
  float: left;
  font-size: 20px;
  line-height: 82px;
  margin-right: 98px;
}
.footer .footer-a li a {
  color: #3a3a3a;
  text-decoration: none;
}
.footer .footer-a li:nth-child(1) i {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  background: url(../images/jw1.png) -358px -207px no-repeat;
  margin-top: 20px;
}
.footer .footer-a li:nth-child(1) span {
  margin-left: 15px;
}
.footer .footer-a li:nth-child(2) i {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  background: url(../images/jw1.png) -398px -207px no-repeat;
  margin-top: 20px;
}
.footer .footer-a li:nth-child(2) span {
  margin-left: 15px;
}
.footer .footer-a li:nth-child(3) i {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  background: url(../images/jw1.png) -438px -207px no-repeat;
  margin-top: 20px;
}
.footer .footer-a li:nth-child(3) span {
  margin-left: 15px;
}
.footer .footer-a li:nth-child(4) {
  margin-right: 0;
}
.footer .footer-a li:nth-child(4) i {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  background: url(../images/jw1.png) -478px -207px no-repeat;
  margin-top: 20px;
}
.footer .footer-a li:nth-child(4) span {
  margin-left: 15px;
}
.footer .footer-b {
  height: 210px;
  border-bottom: #e5e5e5 1px solid;
}
.footer .footer-b .footer-b1 {
  width: 920px;
  height: 155px;
  margin-top: 23px;
  border-right: #e5e5e5 solid 1px;
}
.footer .footer-b .footer-b1 dl {
  width: 16.666667%;
  float: left;
}
.footer .footer-b .footer-b1 dt {
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
}
.footer .footer-b .footer-b1 dd {
  margin-top: 5px;
}
.footer .footer-b .footer-b1 dd a {
  text-decoration: none;
  color: #666;
  font-size: 12px;
}
.footer .footer-b .footer-b2 {
  text-align: center;
  width: 279px;
}
.footer .footer-b .footer-b2 a {
  text-decoration: none;
}
.footer .footer-b .footer-b2 h2 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  margin-top: 30px;
}
.footer .footer-b .footer-b2 h3 {
  font-size: 14px;
  color: #575757;
  margin-top: 10px;
}
.footer .footer-b .footer-b2 .footer-b4 {
  display: block;
  width: 170px;
  height: 34px;
  background-color: #000;
  border-radius: 17px;
  line-height: 34px;
  font-size: 14px;
  color: #fff;
  margin-left: 54px;
  margin-top: 10px;
}
.footer .footer-b .footer-b2 .footer-b4:hover {
  background-color: #777;
}
.footer .footer-b .footer-b2 .footer-b3 h4 {
  display: block;
  float: left;
  font-size: 15px;
  margin-left: 10%;
  margin-top: 20px;
}
.footer .footer-b .footer-b2 .footer-b3 a {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  font-size: 22px;
  color: #000;
  margin-top: 21px;
  margin-right: 10px;
  text-decoration: none;
}
.footer .footer-b .footer-b2 .footer-b3 a:hover {
  color: #777;
}
.footer .footer-b .footer-b2 .footer-b5 {
  display: none;
  width: 120px;
  height: 120px;
  background-color: #fff;
  margin-top: 47px;
  margin-left: 65px;
  position: absolute;
}
.footer .footer-b .footer-b2 .footer-b5 img {
  width: 108px;
  height: 108px;
  margin: 6px;
}
.footer .footer-b .footer-b2 .footer-b5::before {
  content: '';
  width: 0;
  height: 0;
  display: block;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.footer .footer-c {
  padding-top: 25px;
  height: 114px;
}
.footer .footer-c .footer-d {
  width: 82px;
  height: 20px;
  margin-top: 10px;
  margin-right: 25px;
}
.footer .footer-c .footer-d a {
  color: #666;
}
.footer .footer-c .footer-d img {
  width: 82px;
  height: 20px;
}
.footer .footer-c .footer-c1 {
  height: 114px;
}
.footer .footer-c .footer-c1 ul {
  width: 727px;
  height: 18px;
  margin-left: 14px;
}
.footer .footer-c .footer-c1 li {
  float: left;
  margin-right: 5px;
  font-size: 12px;
}
.footer .footer-c .footer-c1 li a {
  text-decoration: none;
  color: #666;
}
.footer .footer-c .footer-c1 li:before {
  content: '';
  display: block;
  float: left;
  width: 1px;
  height: 12px;
  background-color: #777;
  margin-right: 5px;
  margin-top: 4px;
}
.footer .footer-c .footer-c1 li:nth-child(1)::before {
  content: '';
  background-color: #f9f9f9;
}
.footer .footer-c .footer-c1 p {
  margin-top: 5px;
  width: 727px;
  margin-left: 20px;
  font-size: 12px;
  color: #666;
}
.footer .footer-c .footer-c2 a {
  display: block;
  float: right;
  margin-right: 15px;
  width: 70px;
  height: 24px;
}
.footer .footer-c .footer-c2 img {
  width: 70px;
  height: 24px;
}
.sidebar {
  width: 38px;
  position: fixed;
  right: 10px;
  top: 480px;
}
.sidebar a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 38px;
  color: #999999;
  font-size: 24px;
}
